ConsoleApp/ConsoleApp/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/agnasiencoA3" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/agnasiencoA3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="VegetableDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Veg_ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VegetableDetails" nillable="true" type="tns:VegetableDetails" />
  <xs:complexType name="ArrayOfVegetableDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VegetableDetails" nillable="true" type="tns:VegetableDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVegetableDetails" nillable="true" type="tns:ArrayOfVegetableDetails" />
</xs:schema>