ConsoleApp/ConsoleApp/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62964/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62964/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62964/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/agnasiencoA3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_InsertVegDet_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertVegDet" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertVegDet_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertVegDetResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetVegetables_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVegetables" />
  </wsdl:message>
  <wsdl:message name="IService1_GetVegetables_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVegetablesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteVegDet_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteVegDet" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteVegDet_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteVegDetResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateVegDet_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateVegDet" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateVegDet_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateVegDetResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="InsertVegDet">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertVegDet" message="tns:IService1_InsertVegDet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertVegDetResponse" message="tns:IService1_InsertVegDet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVegetables">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetVegetables" message="tns:IService1_GetVegetables_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetVegetablesResponse" message="tns:IService1_GetVegetables_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteVegDet">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteVegDet" message="tns:IService1_DeleteVegDet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteVegDetResponse" message="tns:IService1_DeleteVegDet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateVegDet">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateVegDet" message="tns:IService1_UpdateVegDet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateVegDetResponse" message="tns:IService1_UpdateVegDet_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertVegDet">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertVegDet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVegetables">
      <soap:operation soapAction="http://tempuri.org/IService1/GetVegetables" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteVegDet">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteVegDet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateVegDet">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateVegDet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:62964/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>